{
    "entitities": [{
      "id": "ASMCredsNormal",
      "name": "ASMCredsMonitoring",
      "credType": "ASMCreds",
      "properties": [
        {
          "name": "user_name",
          "value": "CLEAR[{{omc_cloudagent_asm_user}}]"
        },
        {
          "name": "password",
          "value": "CLEAR[{{omc_cloudagent_asm_password}}]"
        },
        {
          "name": "role",
          "value": "CLEAR[SYSASM]"
        }
      ]
    }]
}