{
    "entities": [
{% for asm in omc_cloudagent_oracle_asm_entities %}
    {
      "name": "{{asm.name}}/ASM",
      "type": "omc_oracle_asm",
      "displayName": "{{asm.name}}/ASM",
      "timezoneRegion": "{{asm.timezone}}",
      "credentialRefs": ["ASMCredsNormal"],
      "properties": {
        "host_name": {
          "displayName": "host_name",
          "value": "{{oracle_asm_hostname}}"
        },
        "machine_name": {
          "displayName": "machine_name",
          "value": "{{oracle_asm_hostname}}"
        },

        "oracle_home": {
          "displayName": "oracle_home",
          "value": "{{oracle_asm_grid_home}}"
        },
        "port": {
          "displayName": "port",
          "value": "1521"
        },
        "protocol": {
          "displayName": "protocol",
          "value": "TCP"
        },
        "sid": {
          "displayName": "sid",
          "value": "{{oracle_asm_sid}}"
        },
        "capability": {
          "displayName": "capability",
          "value": "monitoring"
        }
      }
    },
    {
      "name": "{{asm.name}}/Listener",
      "type": "omc_oracle_db_listener_cluster",
      "displayName": "{{asm.name}}/Listener",
      "properties": {
        "omc_use_ssh": {
          "displayName": "USE ssh",
          "value": "false"
        },
        "host_name": {
          "displayName": "Host Name",
          "value": "{{oracle_asm_hostname}}"
        },
        "lsnr_alias": {
          "displayName": "Listener Cluster Alias",
          "value": "LISTENER"
        },
        "crs_home": {
          "displayName": "CRS Home",
          "value": "{{oracle_asm_grid_home}}"
        },
        "capability": {
          "displayName": "capability",
          "value": "monitoring"
        }
      }
    }{% if not loop.last %}, {%endif%}
{% endfor %}]
}