{
    "credentials": [{
        "id": "SQLCredsNormal",
        "name": "SQLCredsMonitoring",
        "credType": "DBCreds",
        "properties": [
          {
            "name": "DBUserName",
            "value": "CLEAR[{{omc_cloudagent_db_user}}]"
          },
          {
            "name": "DBPassword",
            "value": "CLEAR[{{omc_cloudagent_db_password}}]"
          },
          {
            "name": "DBRole",
            "value": "CLEAR[Normal]"
          }
        ]
      },{
        "id": "ASMCredsNormal",
        "name": "ASMCredsMonitoring",
        "credType": "ASMCreds",
        "properties": [
          {
            "name": "user_name",
            "value": "CLEAR[{{omc_cloudagent_asm_user}}]"
          },
          {
            "name": "password",
            "value": "CLEAR[{{omc_cloudagent_asm_password}}]"
          },
          {
            "name": "role",
            "value": "CLEAR[SYSASM]"
          }
        ]
      }]
}