#!/bin/sh
SCRIPT={{omc_cloudagent_install_dir}}/agent_inst/bin/omcli
PID_FILE={{omc_cloudagent_pid_dir}}/agent.pid

start() {
  if [ -f $SCRIPT ]; then
    echo 'Starting Oracle OMC CloudAgent' >&2
    $SCRIPT start agent
    echo 'Oracle OMC CloudAgent started.  Setting PID' >&2
    $SCRIPT status agent | grep Process | grep -v Parent | awk '{print $4}' > $PID_FILE
  fi
}

stop() {
  if [ -f $SCRIPT ]; then
    echo 'Stopping Oracle OMC CloudAgent' >&2
    $SCRIPT stop agent
    echo 'Oracle OMC CloudAgent stopped.' >&2
  fi
}


case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  *)
    echo "Usage: $0 {start|stop}"
esac