{
    "entitities": [{
      "id": "SQLCreds",
      "name": "SQLCredsMonitoring",
      "credType": "DBCreds",
      "properties": [
        {
          "name": "user_name",
          "value": "CLEAR[{{omc_cloudagent_db_user}}]"
        },
        {
          "name": "password",
          "value": "CLEAR[{{omc_cloudagent_db_password}}]"
        },
        {
          "name": "role",
          "value": "CLEAR[Normal]"
        }
      ]
    }]
}