#!/bin/sh
### BEGIN INIT INFO
# Provides:          Oracle Management Cloud Agent
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       Controls the OMC CloudAgent startup and shutdown
### END INIT INFO
SCRIPT={{omc_cloudagent_install_dir}}/agent_inst/bin/omcli
PID_FILE={{omc_cloudagent_pid_dir}}/agent.pid
ONLY_NUMBERS_REG_EXP='^[0-9]+$'

start() {
  if [ -f $SCRIPT ]; then
    RUNAS=$(stat -c '%U' $SCRIPT)
    echo 'Starting Oracle OMC CloudAgent' >&2
    su - $RUNAS -c "$SCRIPT start agent"
    echo 'Oracle OMC CloudAgent started.  Setting PID' >&2
    if [ -f $PID_FILE ]; then
      rm $PID_FILE
    fi
    sleep 5
    PID=$(su - $RUNAS -c "$SCRIPT status agent | grep Process | grep -v Parent")

    if [[ $PID =~ $ONLY_NUMBERS_REG_EXP ]] ; then
        echo $PID | awk '{print $4}' > $PID_FILE
    fi

  fi
}

stop() {
  if [ -f $SCRIPT ]; then
    RUNAS=$(stat -c '%U' $SCRIPT)
    echo 'Stopping Oracle OMC CloudAgent' >&2
    su - $RUNAS -c "$SCRIPT stop agent"
    echo 'Oracle OMC CloudAgent stopped.' >&2
    if [ -f $PID_FILE ]; then
      rm $PID_FILE
    fi
  fi
}


case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  retart)
    stop
    start
    ;;
  *)
    echo "Usage: $0 {start|stop|restart}"
esac