{
    "credentials" : [
        {
            "id" : "WLSCreds",
            "name" : "DomainCredsMonitoring",
            "credType" : "MonitorCreds",
            "properties" : [
                {
                    "name" : "user_name",
                    "value" : "CLEAR[{{omc_weblogic_user}}]"
                },
                {
                    "name" : "password",
                    "value" : "CLEAR[{{omc_weblogic_password}}]"
                }
            ]
        }
    ]
}
